<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title alinhado-centro" id="staticBackdropLabel">Histórico de Preço</h4>
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><strong>Produto: <%= produtos.first.descricao %></strong></h5>
      </div>
      <div class="modal-body">
        <table class="table table-striped" style="width: 100%;">
          <thead>
          <tr>
            <th>Data</th>
            <th class="alinhado-direita">Brasão</th>
            <th class="alinhado-direita">Moura</th>
          </tr>
          </thead>
          <tbody>
          <% produtos.order(created_at: :desc).group_by { |produto| produto.created_at.to_time.getlocal.strftime("%d/%m/%Y") }.each do |data, regs| %>
            <% reg_mercado_1 = regs.map{|prod| prod if prod.codigo_mercado == 1}.compact.first %>
            <% reg_mercado_2 = regs.map{|prod| prod if prod.codigo_mercado == 2}.compact.first %>
            <% next if reg_mercado_1.blank? || reg_mercado_2.blank? %>
            <tr>
              <td><%= data %></td>
              <td class="alinhado-direita"> <%= number_to_currency((reg_mercado_1.preco).to_d, unit: "R$ ", separator: ",") %></td>
              <td class="alinhado-direita"> <%= number_to_currency((reg_mercado_2.preco).to_d, unit: "R$ ", separator: ",") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>