.alinhado-direita {
    text-align: right;
}

.alinhado-centro {
    text-align: center;
}

.negrito {
    font-weight: bold;
}

.destaque-preco {
    color: green;
    font-weight: bold;
}

.tabela-principal {
    background-color: white;
    width: 100%;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #1fe740, #6de5a5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-red {
    background: linear-gradient(45deg, #ff052b, #fa3656);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.observacao {
    padding-top: 10px;
    font-size: 12px;
    text-align: right !important;
}